<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <commands>
		<command name="system:navigate" type="Sitecore.SharedSource.Actions.Commands.System.Navigate,Sitecore.SharedSource.Actions" />
	  </commands>
  </sitecore>
</configuration>